/* CLIENTS SECTION */

.section-padding{
    padding: 50px 0;
  }
  
  .section-headind h2{ 
    font-family: 'Roboto';
  }
  
  .team-info{
    margin-top: 50px;
  }
  
  .team-info h3{
    margin-bottom: 20px;
    font-weight: 600;
    letter-spacing: 0;
  }
  
  .team-info h6{
    font-weight: 500;
    font-size: 16px;
  }
  
  .team-info p{
    margin:40px;  
    color: #999;
    font: Courgette;
    font-size: 18px;
  }
  
  .team-div{
    width: 45px;
    background: #000;
    height: 2px;
    position: relative;
    margin-top: 20px;
  }
  
  .team-div:after{
    position: absolute;
    content: '';
    width: 30px;
    background: #000;
    height: 2px;
    bottom: 0;
    top: 5px;
  }
  
  .carousel-indicators{
    border-color: 20px;
    left: 53%;
  }
  .carousel-indicators li{
    border-color:#444;
  }
  
  .carousel-indicators.active{
    background: fuchsia;
    border-color: fuchsia;
  
  }
  
  .list-inline li{
    width: 30px;
    height: 30px;
    background: #262626;
    border-radius: 50px;
  }
  
  .list-inline li a i{
    color: #fff;
    padding: 7px 3;
  }
  
  /* END CLIENTS SECTION */